*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

*:focus {
  outline: none;
  border: 2px dotted #ea736d; }

*::-moz-selection {
  background-color: #fbdc4d; }

*::selection {
  background-color: #fbdc4d; }

html, body {
  height: 100%; }

html {
  scroll-behavior: smooth; }

h1 {
  padding: 0;
  margin: 0; }

body {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 500;
  color: #000; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

button, input {
  outline: none; }

button {
  cursor: pointer; }

textarea {
  resize: none; }

.container {
  margin: 0 auto;
  max-width: 1140px; }

.sub-container {
  margin: 0 auto;
  max-width: 1005px; }

.none {
  display: none; }

.header-padding {
  padding-top: 70px; }

.title-line {
  position: relative;
  z-index: 1; }
  .title-line::before {
    bottom: 8px;
    right: -5px;
    left: -5px;
    height: 10px;
    content: '';
    width: 100%;
    position: absolute;
    background-color: #fbdc4d;
    z-index: -1; }

.title-line-middle {
  position: relative;
  z-index: 1; }
  .title-line-middle::before {
    bottom: 16px;
    right: -5px;
    left: -5px;
    height: 12px;
    content: '';
    width: 100%;
    position: absolute;
    background-color: #fbdc4d;
    z-index: -1; }

.title-line-big {
  position: relative;
  z-index: 1; }
  .title-line-big::before {
    bottom: 25px;
    right: -5px;
    left: -5px;
    height: 12px;
    content: '';
    width: 100%;
    position: absolute;
    background-color: #fbdc4d;
    z-index: -1; }

.active-page::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #fbdc4d; }

.mix {
  display: none; }

#page-nav {
  position: fixed;
  right: 50px;
  top: 50%;
  z-index: 100; }

#page-nav li {
  width: 12px;
  height: 12px;
  background-color: #fbdc4d;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  margin-bottom: 15px;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in; }

#page-nav li a {
  display: block;
  height: 100%; }

#page-nav li.active {
  background-color: #039be5; }

.intouch-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .intouch-block a {
    margin-right: 18px; }

.fa-linkedin-in {
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in; }
  .fa-linkedin-in:hover {
    color: #0077b5; }

.fa-github {
  color: #000;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in; }
  .fa-github:hover {
    color: #6cc644; }

.fa-telegram {
  color: #039be5;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in; }
  .fa-telegram:hover {
    color: #4d76a1; }

.fa-facebook-f {
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in; }
  .fa-facebook-f:hover {
    color: #45668e; }

.fa-vk {
  color: #fff; }

.fa-vk--modify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #4d76a1;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in; }
  .fa-vk--modify:hover {
    color: #113c69; }

.fa-facebook {
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color: #3b5998; }
  .fa-facebook:hover {
    color: #039be5; }

.color-btn {
  display: inline-block;
  padding: 15px 60px;
  font-size: 22px;
  font-weight: bold;
  -webkit-border-radius: 37px;
     -moz-border-radius: 37px;
          border-radius: 37px;
  background-color: #fbdc4d;
  color: #000; }
  .color-btn:hover {
    background-color: #ffd200; }
  .color-btn:active {
    background-color: #e1bc10; }

.colorless-btn {
  margin-left: 20px;
  display: inline-block;
  padding: 10px 40px;
  font-size: 22px;
  font-weight: bold;
  border: 4px solid #464646;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  color: #464646; }
  .colorless-btn:hover {
    border-color: #797979;
    color: #797979; }
  .colorless-btn:active {
    border-color: #000;
    color: #000; }

.header {
  padding: 70px 0 240px;
  margin: 0 auto;
  max-width: 1600px;
  background-image: url(../img/backgrounds/lines.jpg);
  -moz-background-size: contain;
       background-size: contain;
  background-position: center bottom;
  background-repeat: repeat; }

.header__navigation {
  margin: 0 auto;
  padding: 0 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px; }

.header__navigation-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 900; }
  .header__navigation-logo a {
    color: #000; }

.header__burger {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 4px;
  background-color: #000; }
  .header__burger::after, .header__burger::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #000; }
  .header__burger::after {
    bottom: 10px; }
  .header__burger::before {
    top: 10px; }
  @media (min-width: 1200px) {
    .header__burger {
      display: none; } }

.header__navigation-list {
  display: none; }
  @media (min-width: 1200px) {
    .header__navigation-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; } }

.header__navigation-list-item {
  margin-right: 80px;
  position: relative;
  font-size: 20px; }
  .header__navigation-list-item a {
    font-weight: 700;
    color: #000; }
  .header__navigation-list-item:last-child {
    margin-right: 0; }
  .header__navigation-list-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: #fbdc4d;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
    z-index: 1; }
  .header__navigation-list-item:hover::before {
    width: 100%; }

.header__navigation-icons {
  display: none; }
  @media (min-width: 1200px) {
    .header__navigation-icons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; } }

.header__navigation-icon {
  margin-right: 20px; }
  .header__navigation-icon a {
    display: block;
    color: #000; }
  .header__navigation-icon:last-child {
    margin-right: 0; }

.header__content-wrapper {
  padding-top: 153px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__content-description {
  width: 50%;
  max-width: 585px; }

.header__title {
  margin-bottom: 27px;
  font-size: 90px;
  font-weight: 900;
  line-height: 1; }

.header__content-description p {
  margin-bottom: 36px;
  max-width: 54ch;
  font-size: 24px;
  line-height: 1.5;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
  font-weight: 700; }

.header__content-photo {
  width: 41%;
  max-width: 460px;
  max-height: 415px;
  overflow: hidden;
  z-index: 2; }

.header__content-photo-back {
  position: absolute;
  bottom: -145px;
  right: -139px;
  width: 477px;
  height: 410px;
  background-image: -moz-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -ms-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.502;
  z-index: 1; }

.header__image {
  position: relative;
  margin-top: -70px;
  margin: 0 auto;
  max-width: 1600px; }

.header__my-skils-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__my-skils-title {
  margin-bottom: 35px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004); }

.header__my-skils-lists {
  margin-bottom: 40px; }

.header__my-skils-list {
  padding-left: 32px;
  position: relative;
  font-weight: 400;
  line-height: 1.5;
  font-size: 24px;
  line-height: 1.5;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004); }
  .header__my-skils-list::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: #333; }
  .header__my-skils-list:last-child {
    margin-bottom: 0; }

.header__my-skils-btn {
  display: inline-block;
  padding: 15px 60px;
  font-size: 22px;
  font-weight: bold;
  -webkit-border-radius: 37px;
     -moz-border-radius: 37px;
          border-radius: 37px;
  background-color: #fbdc4d;
  color: #000; }
  .header__my-skils-btn:hover {
    background-color: #ffd200; }
  .header__my-skils-btn:active {
    background-color: #e1bc10; }

.header__intouch {
  width: 33%;
  max-width: 360px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.header__intouch-title {
  margin-bottom: 35px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004); }

.header__intouch-links {
  margin-bottom: 15px; }

.header__intouch-email {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  text-decoration: underline; }
  .header__intouch-email:hover {
    color: #46b6ec; }
  .header__intouch-email:active {
    color: #f4adaa; }

.portfolio {
  padding: 120px 0 71px;
  background-color: #f4f8f9; }

.portfolio__title {
  margin-bottom: 60px;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.2; }

.portfolio__toggles {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }

.portfolio__toggle {
  margin-right: 80px;
  font-size: 28px;
  color: #8fa5ae;
  font-weight: bold;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in; }
  .portfolio__toggle:last-child {
    margin-right: 0; }
  .portfolio__toggle:hover {
    color: #000; }

.portfolio__toggle--active {
  color: #000;
  font-weight: 900; }

.portfolio__projects-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.portfolio__card {
  margin-bottom: 60px;
  max-width: 360px;
  width: 31.57%; }

.portfolio__card--big {
  max-width: 555px;
  width: 48.68%; }

.portfolio__project-img {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden; }
  .portfolio__project-img::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(251, 220, 77, 0.8);
    cursor: pointer;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
    z-index: 10; }
  .portfolio__project-img:hover::after {
    top: 0; }
  .portfolio__project-img:hover .portfolio__project-btn {
    left: 50%; }

.portfolio__project-btn {
  padding: 12px 50px;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  bottom: 50%;
  left: -50%;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  color: #ea736d;
  background-color: white;
  -webkit-transform: translate(-50%, 50%);
     -moz-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
       -o-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in;
  z-index: 11; }
  .portfolio__project-btn:hover {
    background-color: #ea736d;
    color: rgba(255, 255, 255, 0.8); }
  .portfolio__project-btn:active {
    background-color: #d4423b;
    color: #fff; }

.portfolio__project-btn--big {
  padding: 12px 80px; }

.portfolio__project-title {
  margin-bottom: 7px;
  font-size: 32px;
  font-weight: bold;
  color: #000;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  transition: all .1s ease-in; }
  .portfolio__project-title:hover {
    color: #ea736d;
    text-decoration: underline; }

.portfolio__project-title--small {
  margin-bottom: 7px;
  font-size: 26px;
  color: #000; }

.portfolio__project-description {
  font-size: 22px;
  font-weight: 300; }

.portfolio__project-description--small {
  margin-bottom: 0;
  font-size: 20px; }

.how-it-works {
  padding: 140px 0;
  margin: 0 auto;
  max-width: 1600px;
  background-image: url(../img/backgrounds/how-it-works-lines-bg.jpg);
  -moz-background-size: auto;
       background-size: auto;
  background-position: center;
  background-repeat: repeat; }

.how-it-works__title {
  margin-bottom: 168px;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.2;
  text-align: center; }

.how-it-works__timeline {
  padding-left: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (min-width: 768px) {
    .how-it-works__timeline {
      padding-left: 0; } }

.how-it-works__timeline-stage {
  margin-bottom: 77px;
  padding-left: 80px;
  width: 50%;
  position: relative;
  min-height: 150px; }
  .how-it-works__timeline-stage::after {
    content: '';
    position: absolute;
    left: 0;
    top: 82px;
    bottom: -45px;
    width: 4px;
    background-color: #e1eef4; }
  .how-it-works__timeline-stage:first-child::before {
    content: '';
    position: absolute;
    right: 0;
    top: -106px;
    width: 4px;
    height: 75px;
    background-color: #e1eef4; }
  .how-it-works__timeline-stage:last-child::after {
    content: none; }
  @media (min-width: 768px) {
    .how-it-works__timeline-stage:nth-child(2n) {
      margin-left: auto; }
    .how-it-works__timeline-stage:nth-child(2n+1) {
      padding-left: 0;
      padding-right: 80px;
      text-align: right; }
    .how-it-works__timeline-stage:nth-child(2n+1) .how-it-works__timeline-img {
      left: auto;
      right: -37px; }
    .how-it-works__timeline-stage:nth-child(2n+1)::after {
      left: auto;
      right: 0; } }

.timeline-stage-wrapper {
  max-width: 420px; }

.how-it-works__timeline-title {
  margin-bottom: 12px;
  font-size: 26px;
  font-weight: 900;
  cursor: default; }
  .how-it-works__timeline-title > .title-line::before {
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
    bottom: 2px; }
  .how-it-works__timeline-title .title-line:hover::before {
    background-color: #ea736d; }

.how-it-works__timeline-description {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500; }

.how-it-works__timeline-timing {
  font-size: 18px;
  font-weight: 700; }

.how-it-works__timeline-img {
  position: absolute;
  top: -16px;
  left: -37px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 74px;
  width: 74px;
  height: 74px;
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35); }

.contacts {
  padding: 145px 0;
  margin: 0 auto;
  background-image: url(../img/backgrounds/bg-contacts-lines-4.jpg);
  background-position: center;
  -moz-background-size: cover;
       background-size: cover;
  background-repeat: no-repeat; }

.contacts__title {
  margin-bottom: 73px;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.2;
  text-align: center; }
  .contacts__title span::before {
    bottom: 15px; }

.contacts__wrapper {
  max-width: 1600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contacts__contact-details {
  padding-top: 15px;
  position: relative;
  width: 43.8%;
  z-index: 2; }
  .contacts__contact-details p {
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 400; }

.contacts__contact-details-img {
  position: absolute;
  top: -16px;
  left: -354px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1; }

.contacts__contact-wrapper {
  margin-bottom: 40px;
  font-size: 20px; }

.contacts__contact-list {
  font-weight: bold;
  line-height: 1.2; }

.contacts__contact-list li {
  margin-bottom: 27px; }
  .contacts__contact-list li:last-child {
    margin-bottom: 0; }

.contacts__contact-type {
  display: inline-block;
  min-width: 100px;
  margin-right: 90px; }

.contacts__contact-data {
  display: inline-block;
  line-height: 1.2; }

.contacts__contact-data > a {
  color: #039be5;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in; }
  .contacts__contact-data > a:hover {
    color: #165c80; }

.contacts__contact-data {
  font-weight: 500;
  color: #96969d; }

.phone {
  color: #96969d !important; }
  .phone:hover {
    color: #165c80 !important; }

.contacts__contact-icons {
  max-width: 295px; }

.contacts__form {
  padding: 55px 60px 40px;
  font-size: 20px;
  width: 45%;
  -webkit-box-shadow: 0px 28px 100px 0px #c2dbeb;
     -moz-box-shadow: 0px 28px 100px 0px #c2dbeb;
          box-shadow: 0px 28px 100px 0px #c2dbeb;
  background-color: #fff; }

.contacts__form-inputs-wrapper {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.contacts__form-item {
  display: inline;
  position: relative; }

.contacts__form-input {
  width: 100%;
  margin-bottom: 60px;
  padding: 10px 5px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #cecece;
  color: #000; }
  .contacts__form-input:focus {
    border-bottom: 1px solid #ea736d; }
  .contacts__form-input:focus + .contacts__form-lable {
    top: -20px;
    font-size: 16px;
    color: #ed9626; }
  .contacts__form-input:not(:focus):valid + .contacts__form-lable {
    top: -20px;
    font-size: 16px;
    color: #ed9626; }

.contacts__form-lable {
  position: absolute;
  top: 0;
  left: 0;
  color: #bcbcbc;
  font-weight: bold;
  -webkit-transition: all, .2s ease-in;
  -o-transition: all, .2s ease-in;
  -moz-transition: all, .2s ease-in;
  transition: all, .2s ease-in;
  pointer-events: none; }

.contacts__form-textarea {
  width: 100%;
  height: 90px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid #cecece; }
  .contacts__form-textarea:focus {
    border-bottom: 1px solid #ea736d; }
  .contacts__form-textarea:focus + .contacts__form-lable {
    top: -40px;
    font-size: 16px;
    color: #ed9626; }
  .contacts__form-textarea:not(:placeholder-shown) + .contacts__form-lable {
    top: -40px;
    font-size: 16px;
    color: #ed9626; }

.contacts__form-btn {
  display: inline-block;
  padding: 15px 60px;
  font-size: 22px;
  font-weight: bold;
  -webkit-border-radius: 37px;
     -moz-border-radius: 37px;
          border-radius: 37px;
  background-color: #fbdc4d;
  color: #000;
  border: none; }
  .contacts__form-btn:hover {
    background-color: #ffd200; }
  .contacts__form-btn:active {
    background-color: #e1bc10; }

.footer {
  padding: 28px 0 38px;
  background-color: #333333;
  color: #a8a8a8; }
  .footer p {
    font-weight: 400; }

.footer__devName {
  margin-bottom: 16px;
  font-size: 18px;
  color: #fff;
  font-weight: 600; }

.footer__link {
  font-weight: 500;
  line-height: 1.5;
  text-decoration: underline;
  color: #a8a8a8; }
  .footer__link:hover, .footer__link:active {
    color: #fff; }

.portfolio--bg-white {
  background-color: #fff; }

.portfolio__title--center {
  text-align: center; }

.header--bg {
  background-color: #f4f8f9; }

.contacts-data {
  padding: 160px 0 460px;
  font-family: "Roboto";
  color: #161616; }

.contacts-data__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contacts-data__title {
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: bold; }

.contacts-data__link {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 300; }
  .contacts-data__link a {
    text-decoration: underline;
    color: #4398e8; }
    .contacts-data__link a:active {
      color: #ea736d; }

/*# sourceMappingURL=main.css.map */