.how-it-works {
    padding: 140px 0;
    background-image: url(../img/backgrounds/lines.jpg);
    background-size: contain;
    background-position: center bottom;
    background-repeat: repeat;
}

.how-it-works__title {
    margin-bottom: 168px;
    @include title-big;
    text-align: center;
}

.how-it-works__timeline {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.how-it-works__timeline-stage {
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
        &:nth-child(even) {
            align-self: flex-end;
            flex-flow: row-reverse nowrap;
            text-align: left;
        }

        &:nth-child(odd) {
            text-align: right;
        }
}

.how-it-works__timeline-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 74px;
    width: 74px;
    height: 74px;
    border-radius: 28px;
    box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
    z-index: 10;
        &::before {
            content: '';
            position: absolute;
            bottom: -137px;
            left: 50%;
            width: 4px;
            height: 109px;
            background-color: rgb(225, 238, 244);
            z-index: 2;
        }

}
.how-it-works__timeline-stage:first-child > .how-it-works__timeline-img::after {
    content: '';
    position: absolute;
    bottom: 85px;
    left: 50%;
    width: 4px;
    height: 57px;
    background-color: rgb(225, 238, 244);
    z-index: 2;
}

.how-it-works__timeline-stage:last-child > .how-it-works__timeline-img::before {
    content: none;
}

  
.how-it-works__timeline-stage:nth-child(even) .how-it-works__timeline-img {
    transform: translateX(-50%);
}

.how-it-works__timeline-stage:nth-child(odd) .how-it-works__timeline-img {
    transform: translateX(75%);
}

  
.timeline-stage-wrapper {
    max-width: 420px;
}

.how-it-works__timeline-title {
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: 900;
    cursor: default;
        .title-line::before {
            bottom: 3px;
            transition: all .2s ease-in;
        }
    & .title-line:hover::before {
        background-color: $red-main;
    }
}
  
.how-it-works__timeline-description {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
}

.how-it-works__timeline-timing {
    font-size: 18px;
    font-weight: 700;
}

